<div class="container">
    <div id="search" class="container w-50 mx-auto">
        <h4>Search Your Details</h4>
        <div class="">
            <div>
                <label for="name">Enter BusinessEntityID</label>
                <input type="number" id="name" class="form-control-sm">
            </div>
            <br>
            <div>
                <label for="name">Enter LoginID</label>
                <input type="text" id="name" class="form-control-sm">
            </div>
            <br>
            <button class="btn btn-dark">Get Details</button>
        </div>
    </div>
</div>